<ion-header>
  <ion-navbar color="primary">
    <ion-title>Chats</ion-title>
    <ion-buttons end>
      <ion-spinner color="light" *ngIf="!(chats | async)"></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <a *ngFor=" let chat of chats | async" (click)="openChat(chat.$key,chat)">
    <ion-item>
      <ion-avatar item-left>
        <img *ngIf="!(chat.info | async).picture" src="assets/images/image2.jpg" imageViewer>
        <img *ngIf="(chat.info | async).picture" src="{{(chat.info | async).picture}}" imageViewer>
      </ion-avatar>
      <span>{{(chat.info | async).email}}</span>

      <!--<ion-badge item-right>{{(chat.info | async).status}}</ion-badge>-->
      <ion-badge item-right *ngIf="(chat.info | async).status=='offline'" color="danger">{{(chat.info | async).status}}</ion-badge>
      <ion-badge item-right *ngIf="(chat.info | async).status=='online'" color="secondary">{{(chat.info | async).status}}</ion-badge>

<!--
      <div *ngFor="let chata of chatsList ">
        <span *ngIf="chat.$key===chata.from">           
            <span *ngIf="chata.status===false">
              {{onlineCount }}</span>
        </span>
      </div>-->
    </ion-item>
  </a>



</ion-content>
