<ion-header>
  <ion-navbar color="light" (click)="userDetails(chatName,pageName)">
    <ion-item no-lines>
      <ion-avatar item-left>
        <img src="assets/images/image2.jpg" imageViewer>
      </ion-avatar>
      <h2 *ngIf="!pageName">{{(chatName.info | async).email}}</h2>
      <h2 *ngIf="pageName">{{chatName.email}}</h2>
      <p *ngIf="!pageName">{{(chatName.info | async).status}}</p>
      <p *ngIf="pageName">{{chatName.status}}</p>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding class="chat-view text-content" style="background-color:#dbeaf9" id="chat-view">
  <div class="messages">
    <div class="message" *ngFor="let chat of chats | async" [ngClass]="{'me': uid === chat.from}">
      <span *ngIf="chat.message">{{chat.message  }}</span>

      <img *ngIf="chat.picture" src="{{chat.picture}}" class="picture">
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col width-10>
        <ion-spinner *ngIf="!(chats)"></ion-spinner>
      </ion-col>
      <ion-col width-70 [hidden]="!chats">
        <ion-input type="text" placeholder="Enter Message" [(ngModel)]="message">
        </ion-input>
      </ion-col>
      <ion-col width-20 [hidden]="!chats">
        <button ion-button full (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
