<ion-header>
  <ion-navbar color="primary">
    <ion-title>Users</ion-title>
    <ion-buttons end>
      <ion-spinner color="light" *ngIf="!(users | async)"></ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <span *ngFor="let user of users | async">
        <a  (click)="openChat(user.$key,user)" *ngIf="user.$key !== uid">
             <ion-item>
             <ion-avatar item-left>
                <img *ngIf="!user.picture" src="assets/images/image2.jpg" imageViewer/>
                <img *ngIf="user.picture" src="{{user.picture}}" imageViewer/>
             </ion-avatar>               
                {{user.email}}
                  <ion-badge item-right *ngIf="user.status=='offline'" color="danger">{{user.status}}</ion-badge>
                   <ion-badge item-right *ngIf="user.status=='online'" color="secondary">{{user.status}}</ion-badge>
                </ion-item>
              <!--<h2>{{userStatus(user.$key)}}</h2>-->           
        </a>
      </span>
  </ion-list>
</ion-content>
